* {
  font-family: Helvetica, sans-serif;
  font-size: 20px;

}

body {
  display:grid;
  grid-template-columns: 0 4fr;
  grid-template-rows: 10% 50% 0 40% 10% 10%;
}

aside {
  background-color: #374050;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  display:flex;
  flex-direction: column;
}   

.button:hover {
  background-color: #47A4F3;
}

header {
  display: flex;
  justify-content: center;
  height: 3rem;
  padding: .7rem 0 0 0;
}

.aside-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.img--nav {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

ul {
  list-style: none;
}

aside input checkbox {
  display: inline-block;
}

.section-first {
 justify-content: flex-start;
 display: flex;
}

.section-first p {
  width: 100%;
  margin: 0;
  font-size: .9rem;
}

.section-first button {
  justify-content: flex-end;
}

.section-second {
  visibility: hidden;
  position: absolute;
}

.job-card {
  background-color: #FFFFFF;
  justify-content: center;
  width: 80%;
  border: 1px solid #D3D3D3;
}

.section-first .button {
  border-radius: 12px;
}

.administrative {
  background-color: yellow;
}

.section-third {
  display: flex;
  flex-direction: column;
  background-color: #D3D3D3;
}

.social-media {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.widgets {
  grid-columns: 1 / 3;
  grid-row: 6 / 7;
}

.social-media {
  
}

.hr {
  text-align: center;
  color: #D3D3D3;;
  visibility: visible;
}

.hr hr {
  margin: 0;
}

.hr div {
  position: relative;
  bottom: 1rem;
  background-image: url('images/down-chevron.svg');
}

.button {
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}

.button--header {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}

.input--search {
  height: 1.5rem;
  width: 9.5rem;
  margin: 0;
  border: 1px solid #D3D3D3;
  font-size: .6rem;
}

.nav-main {
  visibility: hidden;
}

.nav-dropdown {
  border: 1px solid #D3D3D3;
  border-radius: 12px;
  text-align: center;
}

.button img {
  height: .7rem;
  width: .7rem;
}

.button-main {
  width: 3rem;
}

@media screen and (min-width: 550px) {
* {
  font-size: 16px;
}  

body {
  display:grid;
  grid-template-columns: 20% 4fr;
  grid-template-rows: 10% 50% 10% 40% 10% 10%;
}

header{
  
}
.nav-main {
  visibility: visible;
}

.nav-dropdown {
  visibility: hidden;
}

.nav-main {
  visibility: visible;
}
 
aside {
  visability: visible;
 }

.section-second {
  visibility: visible;
  position: static;
  background-color: #EEF2F6;
}


}