* {
  font-family: Helvetica, sans-serif;
  font-size: 85%  ;
}

html {
  background-color: #000000;
}

body {
  display:grid;
  grid-template-columns: 12% 4fr;
  grid-template-rows: 10% 50% 10% 40% 10% 10%;
}


/*header attributes*/

header {
  display: flex;
  height: 5rem;
  justify-content: center;
  padding: 0 0 0 0;

}

.button--header {
  height: 3rem;
  width: 3rem;
  margin: 0;
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}

.button:hover {
  background-color: #47A4F3;
}

.input--search {
  height: 3rem;
  width: 80%;
  margin: 0;
  border: 1px solid #D3D3D3;
  font-size: .6rem;
}

.button {
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}
/* aside attributes*/

aside {
  background-color: #374050;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: .7rem;
  height: 100vh;
}

.aside-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.img--nav {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0 0 0 1rem;

}

h3 {
  width: 100%;
  height: 1.5rem;
  display: inline-block;;
}

li {
  margin: 0 0 0 .5rem;
}

li i {
  margin-right: .5rem;
}

.aside-img {
  flex-direction: column;
}

.categories {
  margin: 0 0 0 1rem;
}

.administrative {
  background-color: yellow;
}

/* main section*/

main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  display:flex;
  flex-direction: column;
  width: 80%;
  background-color: #FFFFFF;
}   

/*section 1 - search bar and buttons*/

.section-first {
 display: flex;
}

.section1-buttons img {
  height: .7rem;
  width: .7rem;
  justify-content: flex-end;
}

.section-first .button {
  border-radius: 12px;
}

.section-first p {
  width: 100%;
  margin: 0 0 0 1rem;
  font-size: .9rem;
  height: 1rem;
}

.section-first a {
  margin: 0 0 0 1rem;
  display: flex;
}

.section1-buttons {
  margin: 0 0 0 25rem ;
}                                           

.job-info {
  display: flex;
  flex-direction: column; 
}

/*section 2 - graphs*/

.section-second {
  background-color: #EEF2F6;
  display: flex
}

.circle-graphs {
  /*height: 15rem;*/
}

.bar-graph-and {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-graph-button {
  border-radius: 12px;
}

.circle-graph-text {
  color: #D3D3D3;
  fill: #000;
  transform: translateY(0.25rem);
}

.circle-graph-data {
  font-size: 0.6rem;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25rem);
}

.circle-graph-info {
  font-size: 0.2rem;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.09rem);
}

.bar-graph-img {
  width: 100%;
  height: 80%;
}

.section2-circles{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-graph-button {
  border-radius: 12px;
  width: 10rem;

}

.bar-graph-button {
/*  justify-content: flex-start;
  flex-wrap: wrap;*/
  border-radius: 12px
}

.circle1 {
  grid-column-start: 1/2;
}

.hr {
  text-align: center;
  color: #D3D3D3;
  visibility: visible;
}

.hr hr {
  margin: 0;
}

.hr div {
  position: relative;
  bottom: 1rem;
  background-image: url('images/down-chevron.svg');
}

.nav-main {

}

.nav-dropdown {
  visibility: hidden;
  border: 1px solid #D3D3D3;
  border-radius: 12px;
  text-align: center;
}

/*section 3 - Job Info Card, social media buttons, links and widgets*/

.job-card {
  background-color: #FFFFFF;
  width: 60%;
  border: 1px solid #D3D3D3;
  margin: 2rem 0 0 1rem;
  display: flex;
  flex-direction:column;
}

.job-card hr {
  width: 90%;
  justify-content: center;
}

.job-card p {
  margin: 0 0 0 1rem;
}

h4 {
  margin: .5rem 0 0 1rem;
}

.section-third {
  display: flex;
  flex-direction: column;
  background-color: #EEF2F6;
  text-transform: capitalize;
}

.job-card--header {
  background-color: #717E93;
  margin: 0;
  height: 3rem;
  color:#FFFFFF;
  display: flex;  
  align-items: center;
} 

.job-card--header p {
  margin: 0 0 0 1rem;
}

.hiring-headshot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.job-card--header button {
  color: #FFFFFF;
  background-color: #717E93;
}

.right-side {
  display: flex;

}

.social-media {
  justify-content: flex-end;
}

.widgets {
  justify-content: flex-end;
}


/*.nav-dropdown {
  visibility: hidden;
}

.nav-main {
  visibility: visible;
}*/
 


