* {
  font-family: Helvetica, sans-serif;
  font-size: 85%;
}

html {
  background-color: #000000;
}

body {
  display:grid;
  grid-template-columns: 15% 4fr;
  grid-template-rows: 10% 50% 10% 40% 10% 10%;
  width:100%;
}


/*header--search bar and buttons*/

header {
  display: flex;
  height: 5rem;
  justify-content: center;
  padding: 0 0 0 0;
}

.button--header {
  height: 3rem;
  width: 3rem;
  margin: 0;
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}

.button:hover {
  background-color: #47A4F3;
}

.input--search {
  height: 3rem;
  width: 80%;
  margin: 0;
  border: 1px solid #D3D3D3;
  font-size: .8rem;
}

.button {
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}
/* aside attributes*/

aside {
  background-color: #374050;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: .7rem;
  height: 100%;
}

.aside-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.img--nav {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0 0 0 1rem;

}

li {
  margin: 0 0 .7rem 0;
}

li i {
  margin-right: 1rem;
}

.aside-img {
  flex-direction: column;
}

.categories {
  margin: 0 0 0 1rem;
}

.categories div {
  margin: 1rem 0 0 .2rem;
}

h3 {
  margin: 1rem 0 0 1rem;
}

/* main section*/

main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  display:flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
}   

/*section 1 - job title with buttons*/

.section-first {
 display: flex;
}

.section-first p {
  width: 35%;
  margin: 0 0 0 1rem;
  font-size: .9rem;
  height: 1rem;
}

.section1-buttons img {
  height: .7rem;
  width: .7rem;
}

.section1-buttons {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.section1-buttons--button {
  border-radius: 12px;
}

.section-first a {
  margin: 0 0 0 1rem;
  display: flex;
}                            

.job-info {
  display: flex;
  flex-direction: row; 
  width: 75%;
}

h2 {
  font-size: 1.5rem;
  width: 100%;
  margin: 0 0 0 1rem;
}

.job-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*section 2 - graphs*/

.section-second {
  background-color: #EEF2F6;
  display: flex
}

.circle-graphs {
  /*height: 15rem;*/
}

.bar-graph-and {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-graph-button {
  border-radius: 12px;
}

/* circle graph styling adapted from the following article on the subject of building circle graphs (https://medium.com/@heyoka/scratch-made-svg-donut-pie-charts-in-html5-2c587e935d72)*/

.circle-graph-text {
  color: #D3D3D3;
  fill: #000;
  transform: translateY(0.25rem);
}

.circle-graph-data {
  font-size: 0.6rem;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25rem);
}

.circle-graph-info {
  font-size: 0.2rem;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.09rem);
}

.bar-graph-img {
  width: 100%;
  height: 80%;
}

.section2-circles{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-graph-button {
  border-radius: 12px;
  width: 10rem;

}

.bar-graph-button {
/*  justify-content: flex-start;
  flex-wrap: wrap;*/
  border-radius: 12px
}

.hr {
  text-align: center;
  color: #D3D3D3;
  visibility: visible;
}

.hr hr {
  margin: 0;
}

.hr div {
  position: relative;
  bottom: 1rem;
  background-image: url('images/down-chevron.svg');
}

.nav-dropdown {
  visibility: hidden;
  border: 1px solid #D3D3D3;
  border-radius: 12px;
  text-align: center;
}

.nav-main {
  display:flex;
  justify-content: space-around;
}

.a-nav {
  text-decoration: none;
  text-transform: uppercase;
}

/*section 3 - Job Info Card, social media buttons, links and widgets*/

.section-third {
  display: flex;
  background-color: #EEF2F6;
  text-transform: capitalize;
}

.job-card {
  background-color: #FFFFFF;
  width: 50%;
  border: 1px solid #D3D3D3;
  margin: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction:column;
}

.job-card hr {
  width: 90%;
  justify-content: center;
}

.job-card p {
  margin: 0 0 0 1rem;
}

h4 {
  margin: .5rem 0 0 1rem;
}

.job-card--header {
  background-color: #717E93;
  margin: 0;
  height: 3rem;
  color:#FFFFFF;
  display: flex;  
  align-items: center;
} 

.job-card--header button {
  color: #FFFFFF;
  background-color: #717E93;
}

.job-card--header p {
  margin: 0 0 0 1rem;
}

.hiring-headshot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.text-wrap   {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-wrap p {
  margin: 1rem 1rem 1rem 1rem;
}

.text-wrap h4 {
  width: 25%;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 1rem 0 0 1rem;
}

/*section 3 right side - social networkinga links and widgets*/

.right-side {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 2rem 2rem 0 1rem;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: column;
  width: 100% ;
}

.social-media-button {
  height: 3rem;
  width: 100%;
  border-radius: 0;
  margin: 0 0 1rem 0;
  color: #FFFFFF;
}

.facebook-button {
  background-color: #5475BF;
}

.twitter-button {
  background-color: #47A8E8;
}

.linkedin-button {
  background-color: #4380B7;
}

.widgets h3 {
  margin: 1rem 0 .3rem 0;
  font-size: .8rem;
}

.widgets p {
  margin: 0 0 .5rem;
}

.widget-input {
  height: 2rem;
  width: 75%;
  border-radius: 0;
  margin: 0;
  border: 0;
}

.widget-input--email {
  width: 100% ;
}

.widget-input-button {
  height: 2rem;
  width: 20%  ;
  border-radius: 0;
  color: #FFFFFF;
  background-color: #68B5C2;
  text-align: center;
  margin: 0;
  border: 0;
}

.text-wrap   {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-wrap p {
}

.text-wrap h4 {
  width: 25%;
  text-transform: uppercase;
  align-self: flex-start;
}

/*lines needed for mobile medi query*/  
/*.nav-dropdown {
  visibility: hidden;
}

.nav-main {
  visibility: visible;
}*/
 


